/* Base reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Fonts */
.font-open-sans {
  font-family: "Open Sans", sans-serif;
}

/* Navbar */
.navbar {
  width: 100%;
  padding: 24px 80px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color:#ffffff;
}

.nav-logo img {
  height: 36px;
}

.menu {
  list-style: none;
  display: flex;
  gap: 32px;
  color: black;
}

.menu li a {
  text-decoration: none;
  color: black;
  font-size: 16px;
}

.nav-button {
  background: #30b868;
  border: none;
  padding: 12px 20px;
  border-radius: 6px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  color: white;
}

.nav-button:hover {
  background: #27ae60;
}

/* Hero Section */
section {
  
  height: 700px;
  background: 
    /* linear-gradient(rgba(8, 25, 45, 0.75), rgba(8, 25, 45, 0.75)), */
    url("./assets/hero-bg.png") center / cover no-repeat;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 40px 20px;
}

.hero-title .colored-text{
    color: #30b868;

}

.hero-section-container {
  max-width: 820px;
  text-align: center;
  color: #ffffff;
}

/* Early access badge */
.hero-button {
  margin-bottom: 24px;
}

.button1 {
  background: #ffffff;
  color: #30b868;
  border: none;
  padding: 8px 18px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 500;
}

/* Title */
.hero-title h1 {
  font-family: "Inter", sans-serif;
  font-size: 60px;
  line-height: 1.2;
  font-weight: 700;
  margin-bottom: 20px;
}

.hero-title h1 span {
  color: #2ecc71;
}

/* Paragraph */
.hero-paragraph p {
  font-size: 18px;
  line-height: 1.6;
  color: #d0d8e0;
  max-width: 700px;
  margin: 0 auto 32px;
}

/* Buttons */
.two-hero-buttons {
  display: flex;
  gap: 16px;
  justify-content: center;
  flex-wrap: wrap;
}

.button2 {
  background: #2ecc71;
  color: white;
  border: none;
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
}


.button2:hover {
  background: #27ae60;
}

.button3 {
  background: transparent;
  color: #ffffff;
  border: 1px solid #ffffff;
  padding: 14px 24px;
  border-radius: 6px;
  font-size: 16px;
  cursor: pointer;
}

.button3:hover {
  background: rgba(255, 255, 255, 0.1);
}


